.celebrities {
  padding-left: $padding;
  padding-right: $padding;
  &__title {
    font-size: 2.5em;
    font-weight: 300;
  }
  &__footer {
    display: flex;
  }

  &__container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 3em;
    row-gap: 3em;
  }
}