.pope {
  background: url('https://firebasestorage.googleapis.com/v0/b/zemoga-ui.appspot.com/o/celebrities%2Fpope.png?alt=media&token=3179c872-a0d1-4177-b8fb-223de2d7199e') no-repeat;
  background-size: cover;
  min-height: 40vh; 
  background-color: lightblue;
  padding-top: $menu-height;
  display: grid;
  grid-template-columns: 50% 50%;

  @media only screen and (max-width: $break-xl) {

  } 

  @media only screen and (min-width: $break-xl) {
    padding: $padding;

  }

  @media only screen and (max-width: $break-xs) {
    grid-template-columns: 100%;
    background-position: right; 
  }
}