.celebrity {
  min-height: 900px;
  color: white;
  display: grid;
  grid-template-areas: '. . .'
  'icon-result name .'
  '. date-category .'
  '. description .'
  '. vote .'
  'results results results';
  grid-template-rows: 30%  20% repeat(3,auto) 10%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: 6% auto 10%;

  &__icon-result {
    grid-area: icon-result;
    align-self: baseline;
    &__up {
      background: $upvote-color;
    }
    &__down {
      background: $downvote-color;
    }

    &__up, &__down {
      padding: 8px;
    }
  }

  &__name {
    grid-area: name;
    font-size: 2.81em;
    color: rgb(255, 255, 255);
    line-height: 1.067;
    text-align: left;
    align-self: baseline;
  }

  &__description {
    grid-area: description;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    
  }

  &__date-category {
    grid-area: date-category;
    font-size: 0.75em;
  }

  &__vote {
    grid-area: vote;
    display: flex;
    &--selected {
      border: 1px solid white !important;
    }

    &__upvote {
      background: $upvote-color;
    }

    &__downvote {
      background: $downvote-color;
    }

    &__upvote, &__downvote {
      border: 1px solid transparent;
      margin-right: 0.5em;
      height: 2em;
      width: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__upvote > img, &__downvote > img {
      height: 1.5em;
    }

    &__vote {
        border-width: 1px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        background-color: rgba(0, 0, 0, 0.149);
        font-size: 14pt;
        width: 7em;
        height: 2.4em;
        z-index: 77;
        color: white;
        cursor: pointer;
        // padding: 1em;
      
    }
  }

  &__results {
    grid-area: results;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-weight: 300;
    font-size: 1.7em;
  }

  &__up {
    background: $upvote-color;
    display: flex;
    align-items: center;
  }

  &__down {
    background: $downvote-color;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__icon {
    padding: 10px;
  }
}
