.footer {
  padding: $padding;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.75em;
  &__company {
    width: 35%;
    display: flex;
    justify-content: space-between;
  }

  &__social {
    width: 20%;
    display: flex;
    justify-content: space-between;  
  }
  @media only screen and (max-width: $break-xs) {
    padding: $padding 1em;
    display: grid;
    grid-row-gap: 4em;
    &__company, &__social {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr repeat(2, 1fr);
      grid-column-gap: 3em;
    }
  }
}