.message {
  margin: 2em $padding;
  display: grid;
  background-color: rgb(235, 235, 235);
  grid-template-columns: 20% auto 5%;
  grid-template-rows: auto;
  padding: 1em;

  @media only screen and (max-width: $break-xl) {
    grid-template-columns: auto 30%;
    grid-template-rows: auto;
    grid-template-areas: 'titles titles button'
    'texts texts texts';
    &__button {
      justify-self: end;
      padding: 1em;
    }
  } 

  @media only screen and (min-width: $break-xl) {
    grid-template-columns: 25% auto 5%;
    grid-template-areas: 'titles texts button';
  }

  @media only screen and (max-width: $break-xs) {
    grid-template-columns: auto 10% !important;
    grid-template-rows: auto;
    grid-template-areas: 'titles titles button'
    'texts texts texts';
    margin: 1em 0;
    &__button {
      padding:0;
    }
  }

  &__titles {
    grid-area: titles;
    line-height: 0;
    align-self: center;
  }
  &__title-1 {
    font-weight: 300;
    font-size: 1.32em;
    padding-bottom: 5px;
  }
  &__title-2 {
    font-weight: 700;
    font-size: 2.3em;
    padding-top: 5px;
  }
  &__text {
    grid-area: texts;
    font-weight: 300;
  }
  &__button {
    grid-area: button;
    cursor: pointer;
    font-size: 2em;
    display: grid;
    align-content: center;
    justify-content: center; 
  }
}